
.container{
    width: 100%;
    height: 200px;
    background-color: rgb(21, 0, 255);
}

#solutions{
   
    width: 100%;
    height: fit-content;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#solutions h2{
    color: gray;
}
#cont_solutions{
    position: relative;
      width: 80%;
      height: fit-content;
     
      display: flex;
      flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
.item_solution{
    width: 40%;
    height: 200px;
  position: relative;
    background-size: 100%;
     background-repeat: no-repeat ;
     justify-content: center;
     display: flex;
    
    
}

.item_solution button{
 width: 60%;
 height: 70px;
 border: none;
 background-color: rgba(198, 121, 14, 0.837);
 vertical-align: middle;
 margin: auto;
 color: aliceblue;
 font-size: 18px;
 overflow-x: auto;
 
}
.item_solution button:hover{
    background-color: rgba(198, 121, 14, 0.692);
    cursor: pointer;
}

.item_solution  img{
    width: 30px;
    height: 30px;
}
.item_solution button box-icon{
    
     vertical-align: middle;
     color: white;
}
#whatsapp{
    width: 80px;
    height:80px;
    position: fixed;
    z-index: 999;
    bottom: 0;
    right: 0;
    border: 0;
    background: none;
    cursor: pointer;
}
#whatsapp box-icon{
   width: 80px;
   height: 80px;
    

}
#cotizar{
    width: 90%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100%;
  
   position: relative;
   background-position: 50%;
   background-color: aquamarine;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
#cotizar H2{
    width: 90%;
    height: fit-content;
    position: relative;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     
       left: 25px;
       font-size: 50px;
      top: 15px;
}
#cotizar p{
   
    position: relative;
    width: 60%;
    height: fit-content;
    
    left: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#cotizar button{
position: relative;
    width: 250px;
    height:80px;
   left: 100px;
   background: rgba(231, 99, 51, 0.701);
   border: 2px solid rgba(237, 102, 52, 0.812);
   border-radius: 5px;
   color: white;
   font-size: 20px;
   
}
#cotizar button:hover{
  background:  rgba(237, 102, 52, 0.812);
  cursor: pointer;
}
#cotizar button box-icon{
    vertical-align: middle;
}