@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
   
.container{
    width: 100%;
    height: 200px;
    background-color: rgb(21, 0, 255);
}

#solutions{
   
    width: 100%;
    height: fit-content;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#solutions h2{
    color: gray;
}
#cont_solutions{
    position: relative;
      width: 90%;
      height: fit-content;
     
      display: flex;
      flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
.item_solution{
    width: 45%;
    height: 250px;
  position: relative;
    background-size: 100%;
     background-repeat: no-repeat ;
     justify-content: center;
     display: flex;
     border-radius: 5px;
    
}

.item_solution button{
 width: 60%;
 height: 70px;
 border: none;
 background-color: rgba(14, 63, 198, 0.837);
 vertical-align: middle;
 margin: auto;
 color: aliceblue;
 font-size: 18px;
 overflow-x: auto;
 
 
}
.item_solution button:hover{
    background-color: rgba(14, 66, 198, 0.692);
    cursor: pointer;
}

.item_solution  img{
    width: 30px;
    height: 30px;
}
.item_solution button box-icon{
    
     vertical-align: middle;
     color: white;
}
#whatsapp{
    width: 70px;
    height:70px;
    position: fixed;
    z-index: 999;
    bottom: 10px;
    right: 10px;
    border: 0;
    background: none;
    cursor: pointer;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#whatsapp.active{
    background-color: #25d366;
    width: 200px;
    border-radius: 50px;
    transition: all 0.5s ease-out ;
    
}
#whatsapp box-icon{
   width: 100%;
   height: 100%;
    

}
#chat_whatsapp{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 400px;
    height: 300px;
    background-color: rgb(234, 232, 229);
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 15px;
    transform: scale(0);
    transition: all 0.5s ease-out ;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#chat_whatsapp.active{
opacity: 1;

transform: scale(1);

transition: all 0.5s ease-out ;
}
#header_chat{
    width: 100%;
    height: 50px;
    background:#25d366;
    display: flex;
    flex-direction: row;
}
#header_chat button{
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    background-color: rgba(128, 128, 128, 0.504);
    border: 0;
    cursor: pointer;
}
#chat_whatsapp h4{
    padding-top: 10px;
    position: relative;
    margin-top: 0;
    width: 60%;
   
    font-size: 20px;
    color: white;
    
}
#chat_whatsapp box-icon{
    position: relative;
    vertical-align: middle;
    width: 30px;
    height: 30px;
}
#chat_demo{
    width: 100%;
    height: 60px;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
   
    overflow: hidden;
   
}
#chat_message{
    font-family: "Raleway", sans-serif;
    width: 50%;
    height: 40px;
    background-color:white;
    position: relative;
   font-size: 15px;
   font-weight: 600;
    margin-top: 0px;
    border-radius: 20px;
    padding: 10px;
}
#chat_message.active{
    background: gray;
}
#chat_demo button{
    position: relative;
    top: 10%;
    width: 100%;
    height: 70%;
    border-radius: 50px;
    border: 0;
    background-color: #128c7e;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
}


#chat_demo a{
    cursor: pointer;
}
#sed_whatsapp{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#redes{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: fit-content;
    height: 200px;
    position: fixed;
   left: -95px;
    bottom: 30%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease-out;
    font-size: 20px;
    
 margin: auto;
}
#redes:hover {
transition: all 0.5s ease-in;
    left: 0px;
}
.item_redes{
    color: aliceblue;
    margin: auto;
    text-decoration: none;
    position: relative;
    width: 100%;
    height: 20%;
   left: 0;
   padding: 8px;
    text-align: center;
    padding-top: 10px;
}
.item_redes:hover{
    background-color: rgb(8, 8, 205);
}
.item_redes box-icon{
    position: relative;
    vertical-align:middle;
    position: relative;
    width: 50px;
    
    text-align: center;
}
#cotizar{
    width: 98%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100%;
  
   position: relative;
   background-position: 50%;
   background-color: aquamarine;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   
 
  
}
#cotizar H2{
    width: 90%;
    height: fit-content;
    position: relative;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
     color: rgb(19, 19, 19);
       left: 25px;
       font-size: 50px;
      top: 15px;
}
#cotizar p{
   color: rgb(26, 23, 23);
    position: relative;
    width: 60%;
    height: fit-content;
    font-size: 20px;
    left: 30px;
    top: -25px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}
#cotizar button{
position: relative;
    width: 250px;
    height:80px;
   left: 100px;
   font-family: "Raleway", sans-serif;
   font-weight: 400;
   background: rgba(51, 114, 231, 0.701);
   border: 2px solid rgba(52, 92, 237, 0.812);
   border-radius: 5px;
   color: white;
   font-size: 20px;
   
}
#cotizar button:hover{
  background:  rgba(52, 80, 237, 0.812);
  cursor: pointer;
}
#cotizar button box-icon{
    vertical-align: middle;
}

footer{

    width: 100%;
    height: 50px;
    background: rgb(151, 151, 155);
    text-align: center;
    display: flex;
}
footer p{
    font-family: "Raleway", sans-serif;
    position: relative;
    color: white;
    margin: auto;
}